<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105077450467-di563dfq9io0c4vt14ak27qekcr9j39q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105077450467-di563dfq9io0c4vt14ak27qekcr9j39q</string>
	<key>API_KEY</key>
	<string>AIzaSyB7kGCwY3ZkpFP-5wY_jrwBIRPRd-G47j8</string>
	<key>GCM_SENDER_ID</key>
	<string>105077450467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.belajarFirebaseSatu</string>
	<key>PROJECT_ID</key>
	<string>belajar-firebase-satu-4b932</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-firebase-satu-4b932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105077450467:ios:b2d38d51a167d89fe507d6</string>
</dict>
</plist>